@import "../../styles/settings/_settings";
.footer_head {
  padding: 20px 0px;
}
.footer_parent {
  background-color: rgb(247, 245, 245);
  padding: 20px 0px 0px;
}
.footer_column {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .column {
    width: 22%;
    cursor: pointer;
    .footer_logo_main {
      padding-bottom: 20px;
    }
    h4 {
      padding-bottom: 20px;
      font-size: 20px;
    }
    li {
      list-style: none;
      display: flex;
      font-size: 14px;
      align-items: center;
      line-height: 30px;
      span {
        padding-left: 10px;
      }
    }
    .social_icons_main{
      display: flex;
      padding-top: 11px;
      .social_icons{
        background-color: rgb(155, 155, 151);
        border-radius: 50%;
        // color: white;
        height: 28px;
        width: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s all;
        margin-right: 15px;
        &:hover{
          background-color: #6EBD5E;
          color: white;
        }
      }
    }
    
    .projects_container {
      display: flex;
      justify-content: space-between;
      // position: relative;
      flex-wrap: wrap;
      .projects_list {
        width: 31%;
        position: relative;
        margin-bottom: 10px;
        height: 90px;
        display: flex;
        align-items: center;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.1);
        &::before {
          content: "";
          position: absolute;
          // z-index: -1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.2)
          );
        }
        .project_image {
          position: relative;
          
          &:hover {
            width: 31%;
            height: 100px;
            transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) all;
            transform: scale(1.2);
          }
          .gradient{
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, .9), rgba(0, 0, 0, .2));
          }
          // &::before{
          //   background: linear-gradient(0deg, rgba(0, 0, 0, .9), rgba(0, 0, 0, .2));
          // }
        }
        p {
          position: absolute;
          // bottom: 0;
          // top: 5px;
          font-size: 10px;
          padding-left: 23px;
          color: white;
          font-weight: bold;
        }
      }
    }
  }
  .footer_last_column {
    width: 27%;
  }
}
.footer_bottom{
  text-align: center;
  background-color: #a1a89f;
  color: white;
  padding: 20px 0px;
}
