@import '../settings/_settings';

.about_us_content {
    width: 100%;

    .left_sec {
        width: 50%;
        p{
            margin-bottom: 10px;
        }
    }

    .top_sec_content {
        padding-right: 50px;
    }

    .bottom_sec_content {
        padding-left: 50px;

    }

    .right_sec {
        width: 50%;

        .about_image {
            height: 350px;
            width: 100%;
            position: relative;
        }
    }
    @media screen and (max-width: 600px) {
        flex-wrap: wrap;
        .left_sec,.right_sec{
           width: 100%;
        }
    }
}