.about_us_content {
    width: 100%;
    gap: 30px;

    .left_sec {
        width: 50%;
    }

    .right_sec {
        width: 50%;

        .about_image {
            height: 350px;
            width: 100%;
            position: relative;
        }
    }
}