@import '../settings/_settings';

.activities_page {
    .activity_card {
        display: flex;
        justify-content: space-between;
        gap: 20px 15px;
        flex-wrap: wrap;

        .activity_page_card {
            width: calc(33.33% - 15px);
            overflow: hidden;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        }
    }
}