@import '../settings/_settings';

.destinations_page {
    .destinations_cards {
        // display: flex;
        // flex-wrap: wrap;
        // gap: 20px;

        .destinations_page_card {
            // width: calc(25% - 20px);
            width: 100%;
            margin-bottom: 30px;
            box-shadow: 0 8px 16px 0 rgba(15, 41, 77, 0.06);
            border-radius: 5px;
            overflow: hidden;   
        }
    }

}

.single_destination {
  
    .single_destination_content {
        border: 1px solid $light-gray;
        border-radius: 5px;
        padding: 10px;
    }
}