$primary-color: #169B80;
$secoundary-color: #FF8C00;
$ternary-color: #FFD700;
// $bg: #ECECEC;
$bg: #F2F7F4;

// $primary-color: #6EBD5E;
// $secoundary-color: #FFA500;
$white-color: #FFFFFF;
$black-color: #000000;
$light-gray: #EEEEEE;
$light-green: #EDF7F1;
$light-black: #333333;
$gray-color: #AAAAAA;
$dark-grey: #888888;
$bg-grey: #F6F6F6;
$title-color: #333333;

$backup-color: #169B80;