
$primary-color: #2ECC71;
$secoundary-color: #6EBD5E;
$ternary-color: #FFA500;
$white-color: #FFFFFF;
$black-color: #000000;
$light-gray: #555555;
$light-green: #EDF7F1;
$light-black: #333333;
$gray-color: #AAAAAA;
$dark-grey: #888888;