@import '../../../styles/settings/_settings';

.book_taxi_banner {
    .book_taxi_banner_main {
        // background: linear-gradient(to right, $secoundary-color, $primary-color);
        height: 300px;
        border-radius: 5px;
        position: relative;
        width: 100%;
        overflow: hidden;

        .book_taxi_banner_main_content {
            width: 100%;
            position: absolute;
            bottom: 20px;
            z-index: +1;
            padding: 0 40px;

            h2 {
                color: $white-color;
                font-size: 24px;
                font-family: 'Poppins', sans-serif;
                line-height: 28px;
                font-weight: 400;
            }
            p {
                color: $primary-color;
                margin: 10px 0;
            }

            @media screen and (max-width: 768px) {
                bottom: 0;
                background: linear-gradient(to top, #000000, #ffffff00);
            }
        }

        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            background: linear-gradient(to right, #0000008f, transparent);
        }
    }
}